@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    background-image: url("../assets/Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

span {
    color: #1048a2;
    font-weight: bold;
}

.content {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
}