<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DBDIconsRemaster</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../assets/images/dead-by-daylight.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="../assets/images/Icon.ico" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="../assets/images/Icon.ico" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">Menu</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Statistiques</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Packs d'images</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link">Tout afficher</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : compétences</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : portraits</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : objets</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : offrandes</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : accessoires</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : statuts</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : emblems</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : aides</a></li>
                <li class="nav-item"> <a class="nav-link">Filtre : actions</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link">
              <span class="menu-icon">
                <i class="mdi mdi-blur"></i>
              </span>
              <span class="menu-title">Packs de filtres</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link">
              <span class="menu-icon">
                <i class="mdi mdi-cloud-download"></i>
              </span>
              <span class="menu-title">Créer un pack</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link">
              <span class="menu-icon">
                <i class="mdi mdi-wallet-giftcard"></i>
              </span>
              <span class="menu-title">Giveaways</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Entrer le lien d'un profile Steam ici">
                </form>
              </li>
            </ul>
          </div>
        </nav>
        <!-- MAIN PANEL STARTS HERE -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Statistiques Dead by Daylight <span class="mdi mdi-steam"></span></h3>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="../assets/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0">Mise à jour disponible</h4>
                        <p class="mb-0 font-weight-normal d-none d-sm-block">La dernière mise à jour de DBDIconsRemaster est en cours de téléchargement. Tu recevra une notification une fois la mise à jour installée.</p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>
                          <a href="https://www.bootstrapdash.com/product/corona-admin-template/" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Télécharger</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card-second">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="../assets/images/SteamBanner.png" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0">Profil non configuré</h4>
                        <p class="mb-0 font-weight-normal d-none d-sm-block">Tu dois configurer ton profil pour voir tes statistiques. Cette fonctionnalité n'est disponible que pour les utilisateurs Steam et note que ton profil doit être public.</p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>
                          <a href="https://www.bootstrapdash.com/product/corona-admin-template/" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Configurer</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" hidden>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">4,610,379</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-water icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Points de Sang gagnés</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">2</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-star-box icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Prestige le plus élevé</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">23h 55m</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-clock-alert-outline icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Temps de jeu total</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">689,256</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-cash icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Maximum de points dépensés sur un seul personnage</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" hidden>
              <!-- STATISTIQUES SURVIVANTS -->
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Statistiques des Survivants</h4>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Altruisme</h6>
                                <p class="text-muted mb-0">Survivants soignés</p>
                                <p class="text-muted mb-0">Obsessions soignées</p>
                                <p class="text-muted mb-0">Survivants soignés pendant que tu étais blessé(e)</p>
                                <p class="text-muted mb-0">Survivants soignés tandis que les autres étaient blessés</p>
                                <p class="text-muted mb-0">Survivants sauvés (état critique ou décrochage)</p>
                                <p class="text-muted mb-0">Survivants sauvés en fin de parties</p>
                                <p class="text-muted mb-0">Survivants en état critique soignés</p>
                                <p class="text-muted mb-0">Coups de protection pour les survivants décrochés</p>
                                <p class="text-muted mb-0">Coups de protection pour les survivants portés</p>
                                <p class="text-muted mb-0">Survivants sauvés en utilisant une palette</p>
                                <p class="text-muted mb-0">Survivants affectés par les totems de bénédiction</p>
                                <p class="text-muted mb-0">Rétabli de l'état critique</p>
                                <p class="text-muted mb-0">Prendre un coup avec l'effet de statut Endurance</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Audace</h6>
                                <p class="text-muted mb-0">Sauts en poursuite</p>
                                <p class="text-muted mb-0">Attaques évitées en utilisant des sauts</p>
                                <p class="text-muted mb-0">Attaques de base esquivées</p>
                                <p class="text-muted mb-0">S'échapper après avoir étourdi le tueur en utilisant une palette</p>
                                <p class="text-muted mb-0">S'échapper des épaules du tueur</p>
                                <p class="text-muted mb-0">Crochets sabotés</p>
                                <p class="text-muted mb-0">Tueur perdu suivi d'un auto-soin</p>
                                <p class="text-muted mb-0">Poursuites perdues en se cachant dans un casier</p>
                                <p class="text-muted mb-0">Aura du tueur révélée</p>
                                <p class="text-muted mb-0">Décroché(e) toi-même</p>
                                <p class="text-muted mb-0">Nombre de cris</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Objectifs</h6>
                                <p class="text-muted mb-0">Générateurs réparés</p>
                                <p class="text-muted mb-0">Réparations de générateurs endommagés</p>
                                <p class="text-muted mb-0">Tests d'habilités réussis</p>
                                <p class="text-muted mb-0">Portes de sortie ouvertes</p>
                                <p class="text-muted mb-0">Totems de malédiction purifiés</p>
                                <p class="text-muted mb-0">Totems de malédiction bénis</p>
                                <p class="text-muted mb-0">Coffres ouverts</p>
                                <p class="text-muted mb-0">Coffres ouverts dans la cave</p>
                                <p class="text-muted mb-0">Parties dans lesquels un objet spécial a été ramassé et utilisé</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Sorties</h6>
                                <p class="text-muted mb-0">Sorties aux total</p>
                                <p class="text-muted mb-0">Sorties en rampant par les portes de sortie</p>
                                <p class="text-muted mb-0">Sorties par la trappe</p>
                                <p class="text-muted mb-0">Sorties par la trappe en rampant</p>
                                <p class="text-muted mb-0">Sorties avec un nouvel objet</p>
                                <p class="text-muted mb-0">Sorties avec l'objet d'un autre survivant</p>
                                <p class="text-muted mb-0">Sorties en étant blessé pendant plus de la moitié de la partie</p>
                                <p class="text-muted mb-0">Sorties tout en étant mis à terre au plus une fois</p>
                                <p class="text-muted mb-0">Sorties après t'être décroché(e) toi-même.</p>
                                <p class="text-muted mb-0">Sorties en tant qu'obsession sans subir aucun coup</p>
                                <p class="text-muted mb-0">Sorties après avoir réparé le dernier générateur en tant que seul survivant</p>
                                <p class="text-muted mb-0">Sorties par les portes de sortie</p>
                                <p class="text-muted mb-0">Sorties en étant en bonne santé ou blessé(e) en passant par la trappe</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- STATISTIQUES TUEURS -->
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Statistiques des Tueurs</h4>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Éliminations</h6>
                                <p class="text-muted mb-0">Sacrifices et éliminations</p>
                                <p class="text-muted mb-0">Obsessions sacrifiées</p>
                                <p class="text-muted mb-0">Memento Mories</p>
                                <p class="text-muted mb-0">Sacrifices d'end-game</p>
                                <p class="text-muted mb-0">Parties terminées avec 4 éliminations</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Crochets</h6>
                                <p class="text-muted mb-0">Survivants accrochés dans la cave</p>
                                <p class="text-muted mb-0">Arbres de cave (3 ou 4 survivants accrochés dans la cave en même temps)</p>
                                <p class="text-muted mb-0">Survivants accrochés alors que tous les autres étaient blessés</p>
                                <p class="text-muted mb-0">Survivants accrochés avant qu'un seul générateur ne soit réparé</p>
                                <p class="text-muted mb-0">Survivants accrochés pendant l'end-game</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Protection de territoire</h6>
                                <p class="text-muted mb-0">Générateurs endommagés avec au moins un survivant accroché</p>
                                <p class="text-muted mb-0">Générateurs endommagés avec l'effet Indétectable</p>
                                <p class="text-muted mb-0">Survivants attrapés pendant la réparation d'un générateur</p>
                                <p class="text-muted mb-0">Survivants attrapés pendant la purification d'un totem</p>
                                <p class="text-muted mb-0">Protections des générateurs</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">Protégé 0%</p>
                                <p class="text-muted mb-0">Non protégé 0%</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item border-bottom">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Mises à terre et effets</h6>
                                <p class="text-muted mb-0">Survivants avec l'effet d'Inconscience mis à terre</p>
                                <p class="text-muted mb-0">Effet d'Inconscience appliqué</p>
                                <p class="text-muted mb-0">Survivants avec l'effet Exposé mis à terre</p>
                                <p class="text-muted mb-0">Survivants mis à terre en portant un autre survivant</p>
                                <p class="text-muted mb-0">Provoquer des cris chez les survivants</p>
                                <p class="text-muted mb-0">Survivants touchés par l'effet de Rapidité</p>
                                <p class="text-muted mb-0">Blesser ou mettre à terre des survivants avec l'effet Ralentis</p>
                                <p class="text-muted mb-0">Survivants touchés portant un objet spécial</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                          <div class="preview-item">
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject">Empêcher l'évasion</h6>
                                <p class="text-muted mb-0">Survivants attrapés dans un casier</p>
                                <p class="text-muted mb-0">Trappes fermées</p>
                                <p class="text-muted mb-0">Survivants touchés après avoir laissé tomber une palette pendant la poursuite</p>
                                <p class="text-muted mb-0">Survivants touchés en portant un autre survivant</p>
                                <p class="text-muted mb-0">Survivants détectés en utilisant l'instinct du tueur</p>
                                <p class="text-muted mb-0">Sauts du fenêtres en poursuite</p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">&#8205;</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                                <p class="text-muted mb-0">0</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © levalentin_ & ImTiiTii - 2023</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://discord.gg/kaCtF7PXuS" target="_blank">Serveur Discord</a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <script src="../assets/js/settings.js"></script>
    <script src="../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../assets/js/dashboard.js"></script>

    <script src="../js/bootstrap-show-toast.js"></script>

    <script>

    </script>

  </body>
</html>